@charset "UTF-8";


#contents .star .obj_left {position: absolute;left: -100px;top: 0;width: 327px;height: 259px;background-repeat: no-repeat;}
#contents .star .obj_right {position: absolute;right: -50px;top: 0;width: 262px;height: 249px;background-repeat: no-repeat;}


