@charset "UTF-8";

@mixin d-table($hasrow:false){

	@if($hasrow==true){
		&__row{
		display: table;
		width:100%;
		table-layout:fixed;
		}
		&__col{
			display:table-cell;
			vertical-align:middle;
		}
	}
	@else{
		display: table;
		width:100%;
		table-layout:fixed;
		&__col{
			display:table-cell;
			vertical-align:middle;
		}
	}

}
@mixin col-align-left ($params) {
	.table__body{
		.table__col--#{$params}{
			text-align:left;
			padding-left:20px;
			padding-right:20px;
		}
	}
}