@charset "UTF-8";

@mixin css3-prefix($property, $value) {
	-webkit-#{$property}: #{$value};
	-khtml-#{$property}: #{$value};
	-moz-#{$property}: #{$value};
	-ms-#{$property}: #{$value};
	-o-#{$property}: #{$value};
	#{$property}: #{$value};
}

@mixin clearboth () {
	content: '';
	clear: both;
	display: block;
}

@mixin textEllpisis (){
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
@mixin lineEllpisis ($line-height:20px,$lines-to-show:2){
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	max-height: $line-height*$lines-to-show; /* Fallback for non-webkit */
	-webkit-line-clamp: $lines-to-show;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
@mixin clearEllpisis (){
	max-height: none;
	-webkit-line-clamp:initial;
	overflow:visible;
	text-overflow:initial;
}


@mixin boxsize () {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin opacity($value) {
	opacity: $value;
	// IE8 filter
	$opacity-ie: ($value * 100);
	filter: #{alpha(opacity=$opacity-ie)};
}


@mixin sr-only($hasWidth:false){
    @if ($hasWidth ==false){
        width:1px;
        height:1px;
    }
    white-space:nowrap;
    text-indent:130%;
    overflow:hidden;
}

@mixin box-shadow($x: 2px, $y: 2px, $blur: 2px, $color: rgba(220,225,232,.28), $inset: "") {
    @if ($inset != "") {
        @include css3-prefix('box-shadow', $inset $x $y $blur $color);
    } @else {
        @include css3-prefix('box-shadow', $x $y $blur $color);
    }
}

@mixin d-flex($pos:null) {
	display:-webkit-flex;
	display:flex;
	@if ($pos==center){
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
	}
}
@mixin flex($value: 1) {
    @include css3-prefix('flex', $value);
}

@mixin border-radius($radius: 3px) {
    @include css3-prefix('border-radius', $radius);
}

@mixin box-sizing($type: border-box) {
    @include css3-prefix('box-sizing', $type);
}
@mixin transform($x,$y){
    @include css3-prefix('transform',translate($x,$y));
}

//text
@mixin text($font-color, $font-size : 1em, $font-weight: $fw__300) {
    color: $font-color;
    font-size: $font-size;
    font-weight:$font-weight;
}

// list
@mixin list-inline($margin-right:5px){
    display:inline-block;
    &:not(:last-child){
        margin-right:$margin-right;
    }
}

@mixin list-dot($size:sm, $color:$color__default){
    position: relative;
    &:before{
        display:inline-block;
        vertical-align:top;
        position: absolute;
    }
    @if($size==sm){
        padding-left:0.5em;
        &:before{
    	content:'·';
    	left:0;
    	top:0;
        }
    }
    @else if($size==lg){
        padding-left:0.7em;
        &:before{
    	content:'';
    	width:4px;
    	height:4px;
    	@include border-radius(50%);
    	background-color:$color;
    	left:0;
    	top:6px;
        }
    }
}

@mixin list-bar(){
    padding-left:0.5em;
    position: relative;
    &:before{
        content:'-';
        display:inline-block;
        vertical-align:top;
        position: absolute;
        left:0;
        top:0;
    }
}

@mixin list-inline-dot(){
    display:inline-block;
    vertical-align:top;
    &:not(:last-child):after{
        content:'·';
        display:inline-block;
        vertical-align:top;
        margin:0 0.4em;
    }
}

@mixin list-inline-dl(){
    dt,dd{
        display:inline-block;
        vertical-align:top;
    }
}

@mixin list-dl($dt_width,$margin-bottom:13px){
	dt{
    	float:left;
    	width:$dt_width;
	}
	dd{
    	margin-left:$dt_width;
    	&:not(:last-child){
    margin-bottom:$margin-bottom;
    	}
	}
}

@mixin list-split($color:$color__eee){
	display:inline-block;
	position: relative;
	&:not(:last-child){
		padding-right:0.5em;
		margin-right:0.25em;
	}
	&:not(:last-child):before{
		content:'';
		display:inline-block;
		position: absolute;
		width:1px;
		background-color:$color;
		right:0;
		top:2px;
		bottom:2px;
	}
}

//common icon
@mixin icon-spr($width,$height,$pos-x,$pos-y){
	display:inline-block;
	width:$width;
	height:$height;
	background-repeat:no-repeat;
	background-position: $pos-x $pos-y;
	vertical-align:top;
}

//box
@mixin box-style($padding-top : 0, $padding-right :0 , $padding-bottm :0 , $padding-left :0){
	padding: $padding-top $padding-right $padding-bottm $padding-left;
	background-color:$color__wh;
	@include border-radius();
	@include box-shadow();
	overflow:hidden;
}

// border
@mixin border($border-color,$thick:1px){
	border:$thick solid $border-color
}
@mixin border-btm($border-color:$color__eee, $width:1px){
	border-bottom:$width solid $border-color
}

//position center
@mixin pos-center(){
	position:absolute;
	top:50%;
	left:50%;
	@include css3-prefix('transform', translate(-50%,-50%));
}

@mixin nostyle() {
	margin:0;
	padding:0;
	border-radius:0;
    border:none;
    background:transparent;
    &:focus,
    &:active,
    &:hover{
        border:none;
    }
}

@mixin transition($property, $duration, $ms: false) {
	-webkit-transition: $property $duration ease-in-out;
	-moz-transition: $property $duration ease-in-out;
	-o-transition: $property $duration ease-in-out;
	@if ($ms) {
    	-ms-transition: $property $duration ease-in-out;
	}
	transition: $property $duration ease-in-out;
}

@mixin transitionDelay($delay) {
	-webkit-transition-delay: $delay;
	-moz-transition-delay: $delay;
	-o-transition-delay: $delay;
	-ms-transition-delay: $delay;
	transition-delay: $delay;
}

//button
@mixin btn ($bg-color,$size: md){
	//@include border-radius(3px);
	text-align:center;
	background-color:$bg-color;
	@if $size == xs{
    font-size:em(12px);
    padding: 8px 10px;
    //min-height:31px;
    }
	@else if $size == sm{
    @include border-radius(3px);
    font-size:em(13px);
    padding:6px 10px 6px;
    letter-spacing:-1px;
    }
	@else if $size == md {
    font-size:em(15px);
    font-weight:$fw__400;
    padding:12px 20px 12px;
    }
	@else if $size == lg{
        font-size:em(17px);
        @include border-radius(3px);
    	padding:14px 23px 12px;
    }

	@if ($bg-color != $color__wh) and ($bg-color !=#e6eaf1) and ($bg-color != $color__f3f3f3) {
        color:$color__wh;
    }
	&:hover, &:active, &:focus{
    @if ($bg-color != $color__wh) and ($bg-color !=#e6eaf1) and ($bg-color != $color__f3f3f3) {
    	color:$color__wh;
    }
	}

}

@mixin padding($padding-top : 0, $padding-left : 20px){
	padding:$padding-top $padding-left;
}

@mixin scroll($scroll-pos :y) {
  overflow-#{$scroll-pos}:auto;
  -webkit-overflow-scrolling:touch;
}

@mixin background-size($width, $height){
	-webkit-background-size:$width $height;
	background-size:$width $height;
}
@mixin apperence($value : none){
	-webkit-appearance:$value;
	-moz-appearance:$value;
	appearance:$value;
}
//media query
@mixin media-sm() {
	@media (max-width: #{$mobile__sm-width - 1px}) {
    @content;
	}
}

@mixin media-mobile-base() {
	@media (min-width: #{$mobile__md-width + 1px}) {
		@content;
	}
}

@mixin arr-r($pos-r:17px){
    position:relative;
	&:after{
    content:'';
    display:block;
    width:8px;
    height:100%;
    min-height:14px;
    background: url("#{$path}/icon/icon_arr_r.svg?v=#{$img_version}") center center no-repeat;
        @include background-size(8px,14px);
        position:absolute;
    right:$pos-r;
    top:0;

	}
}
@mixin triangle($width,$height,$color,$pos:top){
	content:'';
	display:block;
	width: 0;
	height: 0;
	border-style: solid;
	position: absolute;
	@if $pos == top{
    border-width: 0 $width/2 $height $width/2;
    border-color: transparent transparent $color transparent;
	}
	@else if $pos == bottom{
    border-width: $height $width/2 0 $width/2;
    border-color: $color transparent transparent transparent;
	}
	@else if $pos == right{
    border-width: $height/2 0 $height/2 $width;
    border-color: transparent transparent transparent #007bff;
	}
	@else if $pos == left{
        border-width: $height/2 $width $height/2 0;
        border-color: transparent transparent transparent #007bff;
	}
}