@charset "UTF-8";

.nav__dep,
.tab6{
    position:relative;
    z-index:30;
    margin-top:-3px;
    height:$dep__h;
    background-color:$color__wh;
    border-bottom:3px solid $color__eee;
    text-align:center;
    overflow-x:auto;
    overflow-y:hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    li {
        display:inline-block;
        a {
            display: inline-block;
            height: $dep__h;
            padding: 0;
            margin:0 34px 0 33px;
            @include text($color__484848, em(15px),$fw__500);
            letter-spacing:-1.2px;
            @include d-flex(center);
            @include media-sm{
                margin:0 15px;
            }
            &.on,
            &.active{
                color:$color__primary;
            }
        }
        &.active{
            a{
                color:$color__primary;
            }
        }
        &:first-child{
            a{
                margin-left:0;
            }
        }
        &:last-child{
            a{
                margin-right:0;
            }
        }
    }
}
.nav__dep--v2{
    li {
        a {
            margin: 0 15px;
        }
    }
}
.nav__dep{
    &.step_resev{
        border-top-width:0;
        border-right-width:0;
        border-left-width:0;
        text-align:center;
        margin-bottom:0;
        li{
            display:inline-block;
            height: $dep__h;
            padding:0;
            line-height:initial;
            overflow:visible;
            & + li{
                &:before{
                    content:'';
                    display:inline-block;
                    border:none;
                    position:absolute;
                    top:50%;
                    left:-4px;
                    @include css3-prefix('transform',rotate(0));
                    width:8px;
                    height:14px;
                    margin-top:-7px;
                    background:url(#{$path}/icon/icon_step.svg?v=#{$img_version}) no-repeat;
                    @include background-size(auto,14px);
                }
            }
            &:first-child{
                .nav__dep-txt{
                    margin-left:0;
                }
            }
            &:last-child{
                .nav__dep-txt{
                    margin-right:0;
                }
            }
            &.active{
                background-color:transparent;
                .nav__dep-txt{
                    color:$color__primary;
                }
            }
        }
        .nav__dep-txt {
            display: inline-block;
            height: $dep__h;
            padding: 0;
            margin: 0 34px 0 33px;
            @include text($color__484848, em(15px),$fw__500);
            letter-spacing:-1.2px;
            @include d-flex(center);
        }
        &.nav__dep--v2{
            .nav__dep-txt{
                margin: 0 17px 0 16px;
            }
        }
    }
}

.dep3,
.mtb_srch {
    .frm_index,
    .dep3__nav {
        position:relative;
        z-index:35;
        background-color: $color__primary;
        height: $dep__h;
        margin-top:-3px;
    }
    .frm_index,
    .dep3__nav {
        overflow: hidden;
    }
}
.dep3__nav-lsit,
.tab7{
    text-align:center;
    li{
        display:inline-block;
        margin:0 34px 0 33px;
        height: $dep__h;
        a{
            height: $dep__h;
            padding:0;
            @include d-flex(center);
            @include opacity(0.5);
            border-bottom-width:0;
            @include text($color__wh,em(15px));
        }
        &.active{
            border-bottom:3px solid $color__wh;
            a{
                color:$color__wh;
                border-bottom-width:0;
                @include opacity(1);
            }
        }
    }
}
.view_scroll{
    .scroll_nav{
        top:$header__h + 3px;
    }
}
.total-search__nav-warp{
    height:$dep__h;
    overflow:hidden;
    -webkit-overflow-scrolling: touch;
    .nav__dep{
        height:auto;
        margin:0;
        padding:0 17px 30px;
        background-color:$color__f3f3f3;
        border-bottom-width:0;
        li{

        }
    }
}