.access_fail > .content {
	padding: 40px 18px 0;
	color: #999;
	text-align: center;
}

.access_fail  img {
	display: inline-block;
	width: 53px;
	height: 60px;
}

.access_fail  h3 {
	margin: 14px 0 18px;
	font-size: 18px;
	color: #fe504f;	
}

.access_fail  li {
	padding: 0 30px;
	line-height: 1.5em;
}
.access_fail  span {
	color: #333;		
}

.submit-btn {
	display: inline-block;
	margin-top: 24px;
	padding: 12px 0;
	width: 100%;
	font-size: 18px;
	color: #fff;
	text-align: center;
	background-color: #fe504f;
}