/* CSS Document */

@charset "utf-8";
@font-face{
  font-family: 'NanumGothicWEB';
  font-style: normal;
  font-weight: normal;
  src: url('font/NanumGothic.eot'); 
  src: local('☺'), url('font/NanumGothic.woff') format('woff'); 
}

@font-face{
  font-family: 'NanumGothicWEB';
  font-style: normal;
  font-weight: bold;
  src: url('font/NanumGothicBold.eot'); 	
  src: local('☺'), url('font/NanumGothicBold.woff') format('woff'); 
}


@font-face{
  font-family: 'NanumGothicWEBExtraBold';
  font-style: normal;
  font-weight: bold;
  src: url('font/NanumGothicExtraBold.eot'); 	
  src: local('☺'), url('font/NanumGothicExtraBold.woff') format('woff'); 
}