@charset "UTF-8";

/*Lions Event*//*http://img.local.sec.samsung.com/comLocal/event/1309_galaxynote3/images*/
.tlt{visibility:hidden;overflow:hidden;height:0px;width:0px;margin:0;padding:0;font-size:0;position:absolute;left:-100000px;}
#contents .lions_container {width:100%;background:#fdfdfd url("../images/lions/lions_top_bg.png") 0 47px repeat-x;height:979px;padding-top:47px;}
#contents .lions_contents{position:relative;width:1000px;height:100%;margin:0 auto;background:#fdfdfd url("../images/lions/lions_img_01.png") 0 0 no-repeat;overflow:hidden;}
#contents .lions_contents .lions_title {margin:27px 0 34px 7px;}
#contents .lions_contents .lions_maintitle{margin:0 0 26px 7px;}
#contents .lions_contents .lions_subtitle {margin:15px 0 45px 7px;}
#contents .lions_contents .lions_img1 {position:absolute;margin-left:646px;}
#contents .lions_contents ul{position:relative;width:820px;height:305px;top:35px;left:88px;margin-bottom:45px;background:url('../images/lions/lions_img_03.png') no-repeat 100% 125px;}
#contents .lions_contents ul li{margin-bottom:21px}
#contents .lions_contents .lions_btn {display:block;position:relative;width:388px;height:40px;left:50%;margin-left:-194px;}
#contents .lions_contents .info{position:relative;margin-top:27px;padding:24px;width:1000px;height:217px;background:url('../images/lions/lions_info_bg.png') no-repeat;}
#contents .lions_contents .info_title{display:block;width:195px;height:20px;}
#contents .lions_contents .info_txt{margin:11px 0 0 7px;display:block;width:959px;height:148px;text-indent:-9999px;overflow:hidden;background:url('../images/lions/lions_10.png') no-repeat;}