@charset "utf-8";

/* common */
.w70 {width:70px!important;}
.w160 {width:160px!important;}
.w500 {width:500px!important;}
.tour-wrap {margin-top:20px !important}
.tour-wrap .tooltip {display:none}
.tour-main {width:1248px;margin:0 auto}
.tour-main .left-area {width:870px;}
.tour-main .right-area {width:370px}
.tour-main {}
.tour-main .info-bx-wrap {background:#f8f8f8;margin:0 25px 40px 0;}
.tour-main .info-bx-wrap:last-child, .tour-main .info-bx-wrap:nth-last-child(2) {margin-bottom:0}
.tour-main .qna_info {padding-bottom:10px;font-size:15px;}
.tour-main .qna_info dt{color:#333;width:80px;font-weight:500}
.tour-main .qna_info dd {margin-left:15px}
.tour-main .qna_info .btn {font-size:14px;padding:5px 20px;}
.info-bx-wrap{border:1px solid #ccc;width:405px;text-align:center;}
.info-bx-wrap .tit {height:52px;border-bottom:1px solid #ebebeb;color:#888;font-size:16px;padding:16px 0;font-weight:normal;}
.info-bx-wrap .tb_bx li {border-right: 1px solid #ebebeb;height:200px}
.info-bx-wrap .tb_bx li a{height:200px;display:block;text-align:center;padding:40px 0;}
.info-bx-wrap .tb_bx li a:hover {background-color:#fff;}
.info-bx-wrap .tb_bx .num-wrap {display:block;font-size:26px;color:#484848;}
.info-bx-wrap .tb_bx .num {font-size:46px;font-weight:bold;}
.info-bx-wrap .tb_bx .txt-wrap {display:block;font-size:15px;margin:25px 0 0 0;}
.tour-contents {position:relative;}
.tour-contents.disabled:before {content:'';display:block;position:absolute;top:0;right:0;left:0;bottom:0;z-index:15}
.tour-form-wrap .tour-contents.disabled:before {position:fixed;bottom:90px;top:0;left:227px;right:200px;}
.tbl-stats {text-align:center;table-layout:fixed;}
.tbl-stats td,.tbl-stats th {padding:14px 10px;text-align:center;border:1px solid #ebebeb;}
.tbl-stats thead {color:#fff;background:#8a8a8a;border:1px solid #8a8a8a;}
.tbl-stats thead th {border-color:#7a7a7a;padding:14px 0;}
.tbl-stats tbody {background:#f8f8f8;border:1px solid #d8d8d8;}
.tbl-stats tfoot {color:#e93d3d;border:1px solid #d8d8d8;}
.tbl-stats tfoot th{font-weight:normal;}
.tbl-stats tr td:first-child,.tbl-stats tr th:first-child {border-left-width:0}
.tbl-stats tr td:last-child,.tbl-stats tr th:last-child {border-right-width:0}
.tbl-stats tbody tr:last-child td, .tbl-stats tfoot tr:last-child td,.tbl-stats tfoot tr:last-child th {border-bottom-width:0}
.tbl-stats tfoot tr:first-child td,.tbl-stats tfoot tr:first-child th {border-top-width:0}
.tbl-stats .text-right {text-align:right !important;}
.tour_lst .poplabel-wrap {position:relative;}
.tour_lst .poplabel{position:absolute;top:0;left:0;z-index:15}
.tour_lst .poplabel>.btn{background-color:rgba(0,0,0,.5);width:auto;padding:3px 0;position:static;display:inline-block;}
.tour_lst .poplabel>.btn-txt {font-weight:500;font-size:14px;min-width:77px;padding:3px 15px;}
.tour_lst .poplabel>.btn-del {width:30px;min-width:30px}
.tour_lst .dropdown-content .inner{width:250px;word-break:break-all;white-space:normal;}
.tour_lst .rt-area {position:absolute;top:0;right:0;margin:10px;z-index:10;}
.tour_lst .col-xs-4 .rt-area{right:20px}
.tour_lst .rt-area >.btn {background-color:rgba(0,0,0,.5);padding:4px;margin-left:2px;width:31px;height:31px;padding:0;text-anchor:center}
.tour_lst.discount_room_lst .room_info {padding-bottom:13px}
.discount_room_lst .dl-count {border-bottom:1px solid #f0f0f0;padding:4px 0;}
.discount_room_lst .dl-count:last-child{border-bottom-width:0}
.dl-count .rating_wrp {margin:0;}
.discount_room_lst.tour_lst .room_info strong {height:46px}
.discount_room_lst.tour_lst li {margin:0 0 50px 0;}
.discount_room_lst.tour_lst li:nth-child(3n+1) {clear:both;}
.tour_lst .tmb {height:195px;overflow:hidden;}

.tour-wrap .map-area {height:320px;border:1px solid #ddd; }
.file-control {display:inline-block;vertical-align:top;position:relative;:120px;height:75px;overflow:hidden;}
.file-control + .file-control  {margin-left:5px;}
.file-control .label_file {display:block;width:120px;height:75px;border:1px solid #ddd;margin:0;position:relative;background:#fff;}
.file-control .label_file .icon_plus_md {}
.file-control .inline-checkbox {position:absolute;top:4px;right:6px;margin:0;}
.file-control .inline-checkbox:before {margin:0;background-color:#fff;}
.file-control .inner-area .txt{font-size:35px;color:#aaa;font-weight:500;margin:7px 0 0 0;}
.file-control.full {display:block;height:355px;}
.file-control.full .label_file {width:100%;height:355px;background-color:#fff;border-width:0;border:1px solid #ddd;}
.file-control .icon_clse {width:23px;height:23px;position:absolute;display:block;background-position:center;top:0;right:0;background-color:rgba(195, 195, 214, 0.5);}
.course-area {position:relative;}
.tb_input .icon_pop_close,.course-area .icon_pop_close {width:38px;height:38px;background-repeat:no-repeat;background-position:center;padding:0;margin:0;top:0;right:0;background-color:#c3c5d6;background-size:17px;z-index:2}
.tb_input .wid_sm {width:148px;}
.course_tit {font-size:14px;padding:15px 0;position:relative;}
.course_tit:after {content:'';display:block;width: 0; height: 0; border-style: solid; border-width: 19px 23.5px 0 23.5px; border-color: #ffffff transparent transparent transparent;position:absolute;bottom:-19px;left:50%;margin-left:-23px;z-index:5}
.course_tit + .course-area {padding-top:70px!important;}
.tour-wrap .btn-justify .btn {min-width:110px;padding-left:20px;padding-right:20px;text-align:center;font-weight:500}
.bt-course {background-color:#d2d4e6;}
.bt-course a{padding:15px 0;color:#fff;font-size:18px;color:#fff;font-weight:500}
.tour-wrap .fare-area {background-color:#fff;position:relative;padding-left:250px;border-radius:10px;border-top:1px solid #f1f1f1;}
.tour-wrap .fare-area > .pull-left {width:250px;position:absolute;top:0;bottom:0;left:0;border-right:1px solid #c3c5d6;}
.tour-wrap .fare-area > .pull-left .btn-season-area{position:absolute;bottom:0;left:0;right:0;}
.btn-season-area .btn {font-size:16px;display:block;padding:13px 0;font-weight:500;border-radius:0;border-bottom-left-radius:10px}
.tour-wrap .fare-area > .pull-right {width:732px;}
.list-r-menu li > a , .list-r-menu li > span {display:block;background:#fbfbfb;padding:15px 20px 15px 40px;position:relative;font-size:16px;min-height:52px;}
.list-r-menu li > a:after {content:'';display:block;width:9px;height:16px;background:url(../img/spr_arr_tour.png) no-repeat;position:absolute;right:14px;top:50%;margin-top:-5px;background-position:0 -50px}
.list-r-menu li.active > a, .list-r-menu .list-r-menu > li.active a, .list-r-menu li > a:hover,.list-r-menu .list-r-menu > li a:hover,.list-r-menu li.active > a:hover{background-color:#fff;color:#484848;font-weight:500;color:#484848;transition:none;margin-right:-2px;}
.list-r-menu li.active > a:after,.list-r-menu li > a:hover:after {background-position:-50px -50px}
.list-r-menu > li:not(:last-child) {border-bottom:1px solid #efefef}
.list-r-menu .list-r-menu  {border-top:1px solid #efefef}
.list-r-menu .list-r-menu > li {border-bottom-color:#f8f8f8;}
.list-r-menu .list-r-menu > li a:before {content:'';display:inline-block;width:2px;height:2px;background-color:#666888;vertical-align:top;margin:10px 5px 0 0;border-radius:50%}
.list-r-menu .list-r-menu > li a,.list-r-menu .list-r-menu > li span {background-color:#fbfbfb;padding-left:40px;color:#888;font-size:14px;border-bottom:1px solid #efefef;min-height:52px;}
.r-menu-wrap .tit-list-area {padding:17px 15px;border-bottom:1px solid #efefef;}
.r-menu-wrap .tit-list-area .icon_help_grey {width:18px;height:18px;border:1px solid #9a9a9a;border-radius:50%;}
.tit-list-area .dropdown-hover .dropdown-content .inner {padding:7px 10px;}
.r-menu-wrap .tit-list {font-size:16px;color:#484848;float:left;}
.r-menu-wrap .btn-area {padding:11px 0;border-bottom:1px solid #efefef}
.r-menu-wrap .btn-area .btn {width:66px;margin:0 1px;padding:6px 0;}
.result-area {padding:40px 0 70px 0;}
.result-area .txt1 {font-size:50px;line-height:1em;margin:60px 0 0 0;color:#888;font-weight:400}
.result-area .txt2 {font-size:20px;line-height:30px;margin:20px 0 0 0;font-weight:300;color:#888;}

.content.fixed .content_aside{position:fixed;top:0;left:50%;margin-left:-630px;}
.body_tit2 {border-bottom:1px solid #666}
.body_tit2 .tit-step .active a {border:1px solid #666;border-bottom-width:0;position:relative;bottom:-1px;}
.fixed .body_tit2 {position:fixed;top:0;width:1090px;z-index:20}
.fixed .content_body{padding-top:105px;}

.top_event_form {background-color:#f0f0f0;padding:18px 20px;}
.top_event_form .btn.bg_mint {width:67px;}
.top_event_form .dl_top_setting {display:inline-block;vertical-align:top;padding:7px 0 0;}
.top_event_form .dl_top_setting dt {float:left;color:#666;margin:0 15px 0 0;}
.top_event_form .dl_top_setting dd {float:left;margin:0 15px 0 0;}
.top_event_form .chk_label.basic {color:#888;font-size:12px;}
.top_event_form .chk_label.basic:before {background-color:#fff;margin-right:2px}
.top_event_form .form-control-basic {background-color:#fff}

.room_calendar.tour_calendar {background-color:#fff;padding:0;}
.room_calendar.tour_calendar .td_wrp {display:block;height:114px;position:relative;padding:0;}
.room_calendar.tour_calendar .month .btn {vertical-align:top}
.tour_calendar  .prev i, .tour_calendar .next i{width:27px;height:27px;background:url(../img/icon_arr_spr.png);cursor: pointer;}
.tour_calendar  .prev i:before, .tour_calendar .next i:before{display:none}
.tour_calendar .next i{background-position:0 -27px}
.tour_calendar .month {padding:50px 0 10px;}
.tour_calendar .select_month {margin:-4px 7px 0;color:#484848;font-size:24px;font-weight:500;vertical-align:top}
.tour_calendar .btn-today {width:54px;font-size:12px;margin:0 7px 0 0;}
.tour_calendar .date {font-size:12px;color:#888;z-index:10;top:7px;}
.tour_calendar .sun .date, .tour_calendar .day .sun {color:#e93d3d;}
.tour_calendar .sat .date, .tour_calendar .day .sat  {color:#4db4f6;}
.tour_calendar .disabled {background:#fff;}
.tour_calendar .disabled .date {color:#bbb !important;}
.tour_calendar .inactive, .dl_color_info dt.inactive {background:#f3f3f3;}
.tour_calendar .today .td_wrp:before {background:transparent;border:none;}
.tour_calendar .day th {background-color:#fff;font-weight:300;color:#888;font-size:12px;}
.tour_calendar .pos_r_top {position:absolute;top:6px;right:10px;text-align:right;}
.tour_calendar .marker-wrap{right:0;top:0;width:100%;background-color:#f58850;z-index:5;height:30px;height:30px;position:relative;}
.tour_calendar .marker-wrap + .date{color:#fff;}
.tour_calendar .manual {font-size:12px;display:inline-block;vertical-align:top;margin:6px 7px 0 0;z-index:20;}
/*.tour_calendar .marker:after {content:''; display:inline-block;width:19px;height:19px;background:url(../img/icon_cal_mark.png) center center no-repeat #eeeff4; margin:0 0 0 5px;border-radius:50%}*/
.tour_calendar .fixed .marker:after {background-color:#fff}
.tour_calendar .td_wrp .txt {font-size:12px;color:#666;position:absolute;min-height:auto}
.tour_calendar .sr-only {position:absolute;}
.tour_calendar td.closed, .dl_color_info dt.closed {background-color:#d9f3f2;}
.tour_calendar td.fixed , .dl_color_info dt.fixed {background-color:#fde7dc;}
.tour_calendar td.top-info {height:auto;border-width:0;border-bottom-width:1px;padding-bottom:10px;position:relative;}
.tour_calendar td.top-info *{vertical-align:middle;}
.tour_calendar td.top-info .dl_count{margin-top:13px;}
.tour_calendar td.top-info .color-info-wrap {}
.tour_calendar .icon_help_grey, .top_event_form .icon_help_grey {width:17px;height:17px;border-radius:50%;border:1px solid #878787;vertical-align:top;margin-top:2px;}

.tour_calendar .season a:after{content:'';display:block;position:absolute;top:-1px;left:-1px;right:-1px;bottom:-1px;border-top:1px solid #333;border-bottom:1px solid #000}
.tour_calendar .season_start a:after,.tour_calendar .sun.season a:after{border-left:1px solid #333}
.tour_calendar .season_end a:after, .tour_calendar .sat.season a:after{border-right:1px solid #333;}
.tour_calendar .season_start, .tour_calendar .season_end{position:relative;}
.tour_calendar .season_start:before{content:'';display:inline-block;position:absolute;top:0;left:0;width: 0; height: 0; border-style: solid; border-width: 13px 13px 0 0; border-color: #000333 transparent transparent transparent;}
.tour_calendar .season_end:before{content:'';display:inline-block;position:absolute;bottom:0;right:0;width: 0; height: 0; border-style: solid; border-width: 0 0 13px 13px; border-color: transparent transparent #000333 transparent;}
.top_event_form .icon_help_grey {margin-left:-2px;}
.top-info .dl_count dt {color:#666; margin-right:10px}
.top-info .dl_count dd {color:#aaa;margin:1px 0 -1px 0;}
.top-info .dl_count dd + dd:before {content:'';content:''; display:inline-block; height:.9em; margin-left:10px; padding-right:10px; border-left:1px solid #edeceb; vertical-align:middle}
.top-info .dropdown-hover {margin:-6px 0 0 0;}
.top-info .dropdown-hover .dropdown-content {left:-26px;margin-top:21px;}
.color-info-wrap {min-height:230px;margin:20px 0 0 0;text-align:right;}
.color-info-wrap .dropdown-content {width:420px;}
.dl_color_info {vertical-align:top;margin-left:10px;}
.dl_color_info dt {width:20px;height:20px;border:1px solid #e4e4e4;text-indent:130%;white-space: nowrap;overflow:hidden;margin:0;color:#aaa;position:relative;}
.dl_color_info dt.no_bor{border:none;width:auto;text-indent:0;height:23px;}
.dl_color_info dt .marker:after{margin:0;}
.dl_color_info dd{color:#aaa;margin:0 15px 0 5px;vertical-align:top;}
.dl_color_info dd:last-child{margin-right:0;}
.dl_color_info dd + dt:before{display:none;}
.dl_color_info .marker{position:absolute;top:0;right:0;left:0;height:7px;background-color:#f58850;margin-top:0;}
.list-board .btn.w90 {padding:6px 0;}

dl.tb_bx{border-top:1px solid #f1f1f1;padding:7px 0 7px 10px;min-height:55px;vertical-align:middle;}
dl.tb_bx dt{width:110px;vertical-align:middle;;color:#484848;}
dl.tb_bx dt.vta-t {padding-top:9px;}
dl.tb_bx dd{color:#888;}
dl.tb_bx.bd-b {border-bottom:1px solid #f1f1f1}
.list-top-form .inline-checkbox {margin-left:0;margin-right:15px;color:#888;}
.list-top-form .chk_label.basic:before {margin-right:3px}
.sub_title + .dropdown-hover .icon_help_grey {width:18px;height:18px;border:1px solid #8a8a8a;}

.policy-wrap  {position:relative;padding:40px 40px 0;}
.policy-wrap .policy-con {position:relative;color:#888;display:none;}
.policy-con .list-board2.v2 .list-hd {background:#fbfbfb;border-top-color:#f1f1f1;}
.policy-con .list-board2.v2 .list-hd span {color:#484848;}
.policy-con .list-board2.v2 span {color:#aaa;}
.policy-con .list-board2.v2 li {border-color:#f1f1f1;}
.policy-con .list-board2.v2 li:last-child{border-bottom-color:#f1f1f1}
.policy-con.nego-rule {border:1px solid #ddd;vertical-align:top;}
.policy-con.nego-rule textarea {border-radius:0;width:100%;height:100%;padding:20px;line-height:24px;border-width:0;}
.policy-wrap .basic_step {width:420px;padding:0 40px 0 0;vertical-align:top;}
.policy-wrap .basic_step li{margin-bottom:10px;border:none;}
.policy-wrap .basic_step li:last-child{margin-bottom:0;}
.policy-wrap .basic_step .radio_label {display:block;width:100%;padding:0 20px;text-align:left;margin:0;color:#888;line-height:50px;height:50px;color:#484848;border:1px solid #edeceb;}
.policy-wrap .basic_step .color_red{line-height:1.5em;font-size:13px;display:block;margin-top:10px;}
.policy-wrap .basic_step .radio_label:before{background-color:#fff}
.policy-wrap .basic_step .radio_label.on{background:#c3c5d6;color:#fff;}
.policy-wrap .msg-before {position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.5)}
.policy-wrap .msg-before .txt {color:#fff;font-size:40px;text-align:center;}
.daterangepicker.opensleft:after {display:none!important}

.stats-area-wrap {overflow:hidden;margin:0 -30px;}
.stats-area-wrap .col-xs-6 {padding:0 30px;}
.stats-area-wrap .col-xs-6:nth-child(2n+1){clear:both;}
.total-stats-area .rating_wrp .color_red {display:block;font-size:80px;line-height:1em;margin-bottom:25px}
.total-stats-area .rating_wrp.v2 .color_red {font-size:60px;margin-bottom:0;margin-top:8px;}
.pie-chart-wrap  {overflow:hidden;}
.pie-chart-wrap [id^=pie-chart] {position:relative;left:55px;}
.tour-form-wrap {padding:0 200px 20px 227px !important;margin-top:0!important;min-height:760px;}
.tour-form-step .top-btn a {display:block;font-size:16px;background-color:#2f323a;padding:21px 20px;font-weight:500;color:#fff;}
.tour-form-step .btm-btn a {display:block;font-size:16px;background-color:#f7f7f7;padding:14px 20px;font-weight:500;color:#484848;position:absolute;bottom:0;left:0;width:100%;line-height:18px;padding-left:50px;}
.tour-form-step .top-btn .spr_arr_l {margin:4px 20px 0 0;}
.tour-form-step .btm-btn .spr_arr_l {position:absolute;left:20px;top:23px;}
.tour-form-step {position:fixed;top:0;left:0;bottom:0;background:#fff;width:187px;z-index:5}
.tour-form-step .tit-step {padding:30px 0;border-bottom:1px solid #f1f1f1;}
.tour-form-step .tit-step li {position:relative;}
.tour-form-step .tit-step li span, .tour-form-step .tit-step li a{display:block;padding:20px 30px 20px 0;font-size:20px;color:#adb1c4;font-weight:700;text-align:right}
.tour-form-step .tit-step li:not(:last-child):after{content:'';display:block;width:15px;height:8px;background:url(../img/spr_arr_tour.png) no-repeat;background-position:-50px 0;position:absolute;bottom:-4px;right:47px;}
.tour-form-step .tit-step li span:after, .tour-form-step .tit-step li a:after {content:'';display:inline-block;width:8px;height:8px;background-color:#52cf5b;margin:10px 0 0 10px;vertical-align:top;}
.tour-form-step .tit-step li.li2  span:after, .tour-form-step .tit-step li.li2 a:after, .tour-form-step .tit-step li.li3 a:after{background-color:#fbbe48;}
.tour-form-step .tit-step li.li4 span:after, .tour-form-step .tit-step li.li4 a:after{background-color:#ef4040;}
.tour-form-step .tit-step li.active:not(:last-child):after {background-position:0 0}
.tour-form-step .copyright {padding:0 20px;margin-top:125px;}
.tour-form-step .copyright p {color:#adb1c4;font-size:10px;}
.tour-form-step .input-area {padding:25px 20px;}
.tour-form-step .input-area .label-tit {color:#484848;margin-bottom:10px;display:block;}
.tour-form-step .input-area .wid-sm {width:95px;height:39px;padding-left:7px;}
.tour-form-step .input-area .btn-check {background-color:#c3c5d6;}
.tour-form-wrap .tour-contents > .pa40, .tour-form-wrap .tour-contents form > .pa40 {padding:0 0 40px 0!important;border-radius:10px;margin-bottom:40px;position:relative;}
.tour-form-wrap .tour-contents .txt-etc {border-radius:10px;margin-top:-30px;}
.tour-form-wrap .tour-contents form > .pa40:last-child {margin-bottom:0}
.tour-form-wrap .tour-contents .full-txt-area {padding:10px 0 10px 40px;position:relative;min-height:75px}
.tour-form-wrap .tour-contents .full-txt-area .btn {position:absolute;top:10px;right:0;font-size:16px;padding:8px 20px;}
.tour-form-wrap .tour-contents tr:last-child .full-txt-area {margin-bottom:-30px}
.tour-form-wrap .tb_input tr:last-child th, .tour-form-wrap .tb_input tr:last-child td {border-bottom-width:0;}
.tour-form-step .tit-step li.active span, .tour-form-step .tit-step li.active a {color:#484848;}
.tour-form-wrap .sub_tit_wrap {margin:0;padding:0;background-color:#fbfbfb;border-top-right-radius:10px;border-top-left-radius:10px;color:#484848;}
.tour-form-wrap .sub_title {margin:0;padding:27px 0 27px 40px;background-color:#fbfbfb;border-top-right-radius:10px;border-top-left-radius:10px;color:#484848;}
.tour-form-wrap .tb_input tbody tr:first-child td, .tour-form-wrap .tb_input tbody tr:first-child th {border-top-width:0;}
.tour-form-wrap .tb_input tbody tr td, .tour-form-wrap .tb_input tbody tr th {border-color:#f1f1f1;color:#484848;}
.tour-form-wrap .tb_input th {padding-left:40px;color:#484848;}
.tour-form-wrap .tb_input td {padding-right:40px}
.tour-form-wrap .chk-wrap.default label {padding:3px 0 0 26px;font-size:14px;}
.tour-form-wrap .chk-wrap.default label:before{border-color:#ccc;}
.tour-form-wrap .chk-wrap.d_iblock {margin:5px 30px 10px 0;}
.tour-form-wrap .chk-list-area {margin-bottom:-5px;overflow:hidden;}
.tour-form-wrap .form-control-basic {border-color:#ddd;}
.tour-form-wrap input[type=text] {height:38px;}
.tour-form-wrap .bx-bubble {border-width:0;border-radius:10px;right:0;top:0;right:-160px;width:145px;padding:15px 8px 15px 15px;}
.tour-form-wrap .bx-bubble.right:before {display:none;}
.tour-form-wrap .bx-bubble.right:after {border-width: 5px 5px 5px 0;left:-5px;}
.tour-form-wrap .bx-bubble .txt {color:#484848;font-size:13px;line-height:22px}
.icon_info3 {width:19px;height:19px;background:url(../img/icon_info3.png) no-repeat;}
.bg_light_blue {background-color:#c3c5d6 !important;}
.tour-form-wrap .tour-contents .course-area {margin-bottom:10px !important}
.tour-form-wrap .tour-contents .course-area + .course-area {padding-top:40px !important;}
.icon_plus_wh {width:14px;height:14px;background-position:-50px -50px;vertical-align:top;margin:7px 0 0 2px;}
.tour-form-wrap .wid_xs {width:70px !important;font-size:16px;font-weight:500;padding:7px 0;margin-top:-2px}
.tour-form-wrap .fare-area .tb_input tbody tr:first-child td, .tour-form-wrap .fare-area .tb_input tbody tr:first-child th {border-top-width:1px}
.tour-form-wrap .fare-area .tb_input tbody tr th {padding-left:10px;}
.fare-area .input-cal input,.calendar-table__set-date .input-cal input{background-position:120px center}
.tour-form-wrap .fare-area .tb_input tr:last-child th, .tour-form-wrap .fare-area  .tb_input tr:last-child td {border-bottom-width:1px}
.fare-area .bt-course {background-color:#fff;border-bottom:1px solid #f1f1f1;}
.fare-area .bt-course a {color:#aaa;font-size:16px;font-weight:400}
.fare-area  .list-board {border-color:#f1f1f1;}
.fare-area .list-board2 li.list-hd {border-color:#f1f1f1;}
.fare-area .list-board li:last-child {border-color:#f1f1f1;}
.fare-area .list-board2 li {table-layout:fixed;}
.fare-area .list-board2 .list-hd span.tour-fare {width:57%;}
.fare-area .list-board2 li span.tour-del {width:48px;}
.fare-area .list-board2 li.list-hd > span {color:#484848;font-weight:400}
.fare-area .btn-del {width:38px;height:38px;text-indent:-999em;overflow:hidden;position:relative;}
.fare-area .btn-del:after {content:'';display:block;width:14px;height:2px;background-color:#fff;position:absolute;top:50%;left:50%;margin-top:-1px;margin-left:-7px;}
.fare-area .list-board2 .won {width:20px;}
.fare-area .bt-course+.text-center .btn{width:87px!important;font-weight:400}
.lst_type_basic li {border-top:1px solid #f1f1f1;padding:25px 0;position:relative;}
.result-area [class^=icon_list_] {position:absolute;width:130px;height:100%;background-image:url(../img/spr_icon_tour.png);background-repeat:no-repeat; left:50px;top:0;}
.icon_list_rev {background-position:26px 34px}
.icon_list_tour {background-position:-175px 30px}
.result-area .lst_type_basic li{padding-left:245px;color:#484848;font-size:18px;line-height:28px}
.result-area .lst_type_basic li .btn {font-size:16px;padding-left:20px;padding-right:20px;margin-top:10px;}
.result-area .txt-area {padding:60px 0;}
.result-area .txt-area .tit {color:#484848;font-size:40px;}
.result-area .txt-area .txt2 {color:#484848;font-size:22px;line-height:34px;margin:35px 0 40px;}
.result-area .txt-area .btn {width:110px;font-weight:500;padding-left:0;padding-right:0;}
.tour-form-wrap .tour-contents > .result-area {padding-bottom:30px !important}

.modal .tour-apply {width:auto;}
.tour-form-wrap .btm-btn-area {position:fixed;bottom:0;left:0;width:100%;padding:20px 200px 20px 227px;z-index:3;background-color:#eeeff4;}
.tour-wrap .snb-banner-area {margin-top:50px;}
.tour-wrap .snb-banner-area ul li {border-bottom:1px solid #edeceb;border-top:1px solid #edeceb;}
.tour-wrap .snb-banner-area ul li + li {border-top-width:0}

.tour-contents .tbl-calc .tb-default th{background-color:#f3f3f3;}
.tour-contents .tb-default .bg_light_grey4  {font-weight:300}
.tour-contents tfoot td {background-color:#fffde5;}
.list-top-form .input-cal {width:150px;}
.tb_bx > .input-cal {display:table-cell}
.list-top-form .input-cal + .form-control-static {width:20px;text-align:center}

.detail-inner .tb_bx dt {background-color:#f7f7f7;width:150px;padding-left:30px;font-weight:500}
.detail-inner dl.tb_bx {padding:0}
.detail-inner dl.tb_bx dd {padding-left:16px;}
.detail-inner .result-tit {width:850px;padding-right:590px!important;}
.btm-fixed-area {position:fixed;bottom:0;z-index:20;width:100%;left:0;border-top:1px solid #edeceb;-moz-box-shadow: 0 -1px 5px #edeceb;
-webkit-box-shadow: 0 -1px 5px #edeceb;
box-shadow: 0 -1px 5px #edeceb}
.btm-fixed-area .btn-area {padding:10px 0;width:1260px;padding-left:170px;margin:0 auto}
.btm-fixed-area .btn-area .txt{padding:15px;font-size:16px;}
.detail-view.has-btm {padding-bottom:50px}
.list-board2 .filename {width:470px;}
.detail-inner .side_wrp .btn-check, .body_tit2 .btn-check, .calendar-table__set-date .input-area .btn {min-width:auto;font-size:16px;padding-top:5px;}
.detail-inner .side_wrp .btn-check {margin-top:-7px;}
.detail-inner .upload_img_wrap {margin:0}
.detail-inner .upload_img_wrap.v2 .btn {width:auto;height:auto;padding:3px 8px;margin:0;font-size:13px;}
.detail-inner .sub_title {margin-top:2.15em;}
#modalEvent .form-control-basic.input-sm{width:45px;padding:2px 5px;text-align:center;display:inline-block;height:auto;font-size:14px;margin-right:2px}
#modalEvent .btn-save{padding:3px 10px;background-color:#ccc;margin-left:10px;margin-top:-2px;}
.tour-rev-day .chk_label {font-size:12px;color:#ccc;}
.calendar-table__set-date {border-bottom:1px solid #e4e4e4}
.calendar-table__set-date .form-control-static{font-weight:400;margin:0;margin-left:2px;margin-right:16px;}
.tour_calendar__top select.form-control-basic{width:515px;}
.tour_calendar__top dt{font-size:16px;color:#333;margin-right:20px;font-weight:500}
.calendar-table__set-date.month{padding-bottom:18px}
.calendar-table__set-date > .pull-left{margin-top:4px;}
.icon_season{width:21px;height:22px;background-image:url(../img/icon_season.png);}
.mobile-preview{width:1100px;margin:0 auto;padding:60px;}
.mobile-preview__list {text-align:center;}
.mobile-preview__list li{display:inline-block;}
.mobile-preview__phone{width:391px;height:833px;background-image:url(../img/bg_iphone.png);background-repeat:no-repeat;padding:103px 23px 113px 21px;margin:0 auto;}
.mobile-preview__iframe{width:347px;height:617px;overflow:auto;border:none;}
.mobile-preview__link, .mobile-preview__link:hover, .mobile-preview__link:active, .mobile-preview__link:focus, .mobile-preview__link:active:focus{color:#484848;border:1px solid #dddddd;font-size:14px;padding:9px 13px;}
.active .mobile-preview__link, .active .mobile-preview__link:hover, .active .mobile-preview__link:active,.active .mobile-preview__link:focus, .active .mobile-preview__link:active:focus{color:#f58850;}
.mobile-preview__list{margin-bottom:80px;}
.mobile-preview__list>li{margin:0 3px;}
.mobile-preview .btm-fixed-area .btn{margin-left:3px}
.icon_preview {width:25px;height:14px;background-image:url(../img/icon_preview.png);}
.tour-form__season-date{border-bottom-width:0!important;padding-left:6px!important;display:block;min-height:auto!important;font-size:12px!important;font-weight:300!important;background-color:transparent!important;}
.list-r-menu .list-r-menu > li a:hover .tour-form__season-date{color:#333!important;}
.modal .modal__trip-rule-wrap {width:552px;}
.modal__trip-rule-name{color:#484848;margin:28px 0 13px;}
.modal__trip-rule-wrap h1 {padding:22px 30px 21px;}
.modal__trip-rule-wrap .icon_pop_close {height:72px;}
.modal__trip-rule-wrap .btn-lg{min-width:110px;padding-top:13px;padding-bottom:13px;}