$header__h: 80px;

// colors
$color__primary : #f58850;
$color__wh: #fff;
$color__blk: #333;
$color__red: #e93d3d;
$color__green : #27c883;
$color__mint : #42b9b5;
$color__l-blue : #b7c8d2;
$color__main-bg: #edf0f5;
$color__txt-grey: #8c929c;
$color__fafafa : #fafafa;
$color__f3f3f3 :#f3f3f3;
$color__f9f9f9 : #f9f9f9;
$color__ccc : #ccc;
$color__aaa: #aaa;
$color__eee: #eee;
$color__default : #888;
//font-weight
$fw__800 : 800;
$fw__500 : 500;
$fw__400 : 400;
$fw__300 : 300;

// path
$path: "..";
$img_version :"1.0";
