$header__h: 80px;
$right-side__w : 237px;


$title-bottom: 40px;

$footer-h: 175px;

// colors
$color__000: #000;
$color__wh: #fff;
$color__blk: #333;
$color__red: #e93d3d;
$color__green : #27c883;
$color__l-blue : #b7c8d2;
$color__l-grey : #edf0f5;
$color__fafafa : #fafafa;
$color__f3f3f3 :#f3f3f3;
$color__ccc : #ccc;
$color__ddd : #ddd;
$color__aaa: #aaa;
$color__eee: #eee;
$color__default : #888;
$color__grey : #8c929c;
$color__d-grey: #8c929c;
//font-weight
$fw__700 : 700;
$fw__500 : 500;
$fw__400 : 400;
$fw__300 : 300;

// path
$path: "..";
$img_version :"1.0";
