$popup-right__w :500px;
.body--hidden{
	overflow:hidden;
}
.fade{
	@include opacity(0);
	@include transition(opacity,0.3s);
	&.in{
		@include opacity(1);
	}
}
.modal-backdrop {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1000;
	background-color:$color__blk;
	&.fade.in{
		@include opacity(0.3);
	}
}

.modal{
	display:none;
	overflow-x:hidden;
	overflow-y:auto;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1010;
	-webkit-overflow-scrolling:touch;
	outline:0;

	&.fade{
		.modal-dialog{
				@include tranform(0,-25%);
				@include transition(transform,0.3s);
		}
	}
	&.fade.in{
		.modal-dialog{
			@include tranform(0,0);
		}
	}
	.btm-btn{
		border-top:1px solid #eee;
		padding-top:40px;
		margin-top:30px;
	}
}

.modal-dialog{
	margin:120px auto 0;
	@include box-style(0,0,0,0);
}
.modal__contents{
	padding:38px 30px 40px;
	.btm-btn{
		button{
			padding:14px 30px 13px;
		}
	}
}
.modal__body{
	padding:30px 10px 0;
	color:$color__blk;
	line-height:24px;
}
.modal__tit{
	@include text($color__blk,22px,600);
	line-height:24px;
	padding:0 0 19px 10px;
}
.modal__hd{
	position:relative;
	&:after{
		content:'';
		display:block;
		width:100%;
		height:7px;
		@include border-radius(4px);
		background-color:$color__green;
		clear:both;
	}
    .modal__btn-clse{
        position:absolute;
        top:-2px;
        right:-2px;
        width:30px;
        height:30px;
    }
}
.modal__icon-clse{
	@include icon-cm-spr(21px,21px,-32px,-89px);
	@include sr-only(true);
}


@mixin modal-width($width:500px) {
	.modal-dialog{
		width:$width;
	}
}
.modal__cancel-rule{
	@include modal-width(720px);
	.modal__cancel-rule__tit{
		font-weight:500;
		margin:26px 0 0 0;
		&:first-child{
			margin-top:0;
		}
	}
}

.modal__privacy{
	@include modal-width(905px);
}
.modal__request,
.modal__roominfo,
.modal__invoice-form,
.modal__charge,
.modal__find-id{
	@include modal-width(565px);
}
.modal__invoice-form{
	.modal-dialog{
		overflow:visible;
	}
}
.modal__roomdetail{
	@include modal-width(580px);
}
.modal__invoice__top,
.modal__voucher__top{
	text-align:right;
	margin-bottom:30px;
	button{
		margin-left:6px;
	}
}
.modal__invoice,.modal__voucher{
	.modal__scroll__wrap{
		@include border(#eee);
		@include border-radius(8px);
		padding:20px 10px;
	}
	.nano{
		height:400px;
		margin:0;
	}
}
.modal__invoice{
	@include modal-width(1185px);
	.modal__table-invoice{
		margin-left:-10px;
	}
}
.modal__voucher{
	@include modal-width(720px);
	.modal__table-voucher{
		margin-left:-10px;
	}
	.modal__voucher__email{
		margin-top:40px;
		.tit-wrap{
			@include border-btm();
		}
		.tit__right{
			bottom:10px;
		}
	}
}
.modal__room-calendar{
    @include modal-width(774px);
}

.ly{
	position:fixed;
	top:0;
	//right:0;
	bottom:0;
	left:0;
	z-index:30;
	background-color:#edf0f5;
	overflow-x:auto;
	overflow-y:scroll;
	right:0;
	display:none;
	&--hidden{
		overflow:hidden;
        padding-right:17px;
	}
	.ly__wrap{
		width:100%;
		min-width:1600px;
		max-width:1600px;
		margin:0 auto;
		position:relative;
		min-height:100%;
		left:50%;
		margin-left:-800px;
	}
	.ly__con{
		&:after{
			@include clearboth();
		}
	}
	.ly__header{
		.tit-wrap{
			h1{
				@include text($color__grey, 30px, $fw__500);
				padding:63px 0 0 0;
			}
			&--hidden{
				position:fixed;
				top:0;
			}
		}
		.ly__header__btn{
			width:50px;
			height:50px;
			position:absolute;
			top:30px;
			right:30px;
			z-index:10;
		}
		.ly__header__icon{
			@include icon-cm-spr(30px,30px,-141px,-58px);
			@include sr-only(true);
		}
	}
	.ly__left{
		float:left;
		width:1600px - $popup-right__w - 1px;
		padding:40px;
	}
	.ly__right{
		float:right;
		width:$popup-right__w;
		padding:40px;
		&:after{
			content:'';
			display:block;
			position:absolute;
			right:$popup-right__w;
			top:0;
			min-height:100%;
			width:1px;
			background-color:$color__l-blue;
		}
		.tit-wrap .tit{
			margin-bottom:10px;
		}
	}
	.ly__half{
		width:50%;
		position:absolute;
		min-height:100%;
		top:0;
		text-align:center;
		&__right{
			right:0;
			background-color:$color__wh;
		}
		&__left{
			left:0;
			background-color:$color__l-grey;
		}
	}

}

@media screen and (max-width:1600px) {
	.ly{
		.ly__wrap{
			left:0;
			margin:0;
		}
	}
}

.popup{
	background:$color__wh;
}
